<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
        .login, .title {
            border-radius: 20px;
            padding: 20px;
            align-items: center;
            margin: auto;
            border-style: solid;
            border-width: 5px;
            box-shadow: 10px 10px;
            background-color: white;
            text-align: center;
        }
        body {
            background-image: url("static/mountans.jpg");
            background-size: cover;
            font-family: 'Montserrat', sans-serif;
        }

    </style>
</head>
<body>
    <div class="title">
        <h1>Evil Corp</h1>
    </div>
    <br>
    <br>
    <div class="login">
    <h2>Login</h2>
    <form method="POST" action="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="register">Register here</a></p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="login">
        <a href="contact">contact (good luck)</a> <br>
        <br>
        <br>
        <a href="hack">I want to hack you</a>
    </div>
</body>
</html>
